- model_class = User
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
= render 'list'
.form-actions
  = link_to t('.new', :default => t("+ Add user")), |
    new_user_path,                                  |
    :class => 'btn btn-primary'                     |
